<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My bookings</title>
    <link rel="stylesheet" href="/static/css/mybooking.css">
</head>
<body>
    <section class="mybooking-nav">
        <div class="mybooking-navcontainer">
            <div class="mybooking-navcmn mybooking-heading"><h2>MY BOOKINGS</h2></div>
            <div class="mybooking-navcmn mybooking-backbutton"><a href="">Back</a></div>
        </div>
        
    </section>
    <section class="mybooking-list">
        <div class="mybooking-listconatainer">
            <div class="mybooking-item mybooking-item1"><h3>AIR ASIA</h3></div>
            <div class="mybooking-item mybooking-item2"><h3>10:AM</h3></div>
            <div class="mybooking-item mybooking-item3"><h3>30.08.23</h3></div>
            <div class="mybooking-item mybooking-item4"><h3>11:25AM</h3></div>
            <div class="mybooking-item mybooking-item5"><a href="/bookingreceipt">Download Details</a></div>
        </div>
    </section>
    
</body>
</html>